@import "../../../styles.scss";
.titulo__seccion {
    //Modifica el tamaño de letra.
    font-size: 3em;
    //Modificamos el color de la letra
    color: $color-secundario;
}
app-carta-producto {
    //Centra las cartas
    text-align: -webkit-center;
}
