<div class="container-fluid footer"> <!-- Contenedor del footer -->
    <footer class="my-5">
        <div class="row">

            <!-- Seccion que contiene los iconos de redes sociales -->
            <div class="col-12 col-md-4 text-center text-md-start my-2">
                <i class="ms-2 fa-brands fa-facebook icono__footer"></i>
                <i class="ms-2 fa-brands fa-instagram icono__footer"></i> 
                <i class="ms-2 fa-brands fa-twitter icono__footer"></i>
            </div>

            <!-- Seccion de la imagen del logo -->
            <div class="col-12 col-md-4 text-center">
                <img class="img-fluid" src="../../../assets/imagenes/logo-footer.png" width="200" alt="Logo star coffee">
            </div>
            <!-- Seccion que contiene los iconos de mail y amazon -->
            <div class=" col-12 col-md-4 text-center text-md-end my-2">
                <i class="ms-2 fa-solid fa-envelope icono__footer"></i>
                <i class="ms-2 fa-brands fa-amazon icono__footer"></i>
            </div>
        </div>
        <!-- Fila que contiene los items con link del footer -->
        <div class="row">
            <ul class="nav justify-content-center border-top pb-3 mb-3">
                <!-- Uso de la directiva ngFor para iterar el arreglo de items -->
                <li *ngFor="let item of items" class="mx-2 nav-item"><a routerLink="{{item.titulo}}" class="nav-link px-2 text-white">{{item.titulo}}</a></li>
            </ul>
        </div>
        <!-- Seccion del copyright -->
        <p class="text-center text-muted">{{copyright}}</p>
    </footer>
</div>