@import '../../../styles.scss';/*importacion del archivo principal de estilos*/
.footer{
    background-color:$color-principal ; /*color principal del componente*/
    .row{

        .icono__footer{
            color: $color-terciario; /*cambio de color de los iconos*/
            font-size: 1.3rem;
        }
    }
}