
<div *ngFor="let seccion3 of secciones3">
    <!--creamos un contenedor-->
    <div class="container-fluid secion mt-5">
        <!-- Creamos la fila, ajustaremos el contenido al centro y le asignamos una posición relativa-->
        <div class="row position-relative d-flex justify-content-center align-items-center">
            <!-- Creamos una columna, ajustamos el contenido al inicio (a la izquierda) -->
            <div class="col-12 d-flex justify-content-start">
                <img [src]="seccion3.imagen" class="imagen" alt="imagen">
            </div>
            <!-- ajustamos el contenido al final (a la derecha) -->
            <div class="informacion d-flex justify-content-end mb-3">
                <div class="texto">
                    <h5 class="text-break mb-4">{{seccion3.titulo}}</h5>
                    <p class="text-break mb-4">{{seccion3.subtitulo}}</p>
                
                    <button *ngIf="admin" class="btn mb-4" (click)=" mostrarEditar(seccion3)"><i class="fa-solid fa-pencil me-3"></i>Editar</button>       -->      
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Cambiar Portada" [(visible)]="modalVisible" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <form [formGroup]="nuevaSeccion3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <img [src]="imagen" alt="no hay imagen" height="100em">
                </div>
                <div class="col-md-6 col-sm-12 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Titulo</label>
                    <input type="email" class="form-control py-1 px-2" id="exampleFormControlInput1" formControlName="titulo" ><!-- -->
                </div>
                <div class="col-md-6 col-sm-12 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Subitulo</label>
                    <input type="email" class="form-control py-1 px-2" id="exampleFormControlInput1" formControlName="subtitulo"><!--  -->
                </div>
                <input class="p-float-label mb-2" id="float-input" type="file" pInputText accept=".jpg, ·.png, ·,gif" (change)="cargarImagen($event)"><!--  -->
            </div>
            <div class="d-flex justify-content-end align-items-end">
                <button class="btn boton-editar" (click)="cargarSeccion3()">Editar</button>
            </div>
        </div>
    </form>
</p-dialog>


