<!--creamos un etiqueta header-->
<header class="header_menu">
  <!--creamos una etiqueta nav  -->
    <nav class="nav_cafe">
     
      <!-- creamos una lista de items que seran los items que nos llevaran a diferentes partes de la pagina -->
      <ul class="nav_menu" >
        <li class="nav_links"><a class="nav_link_estilo" href="">Productos</a></li>
        <li class="nav_links"><a class="nav_link_estilo" href="">Eventos</a></li>
        <li class="nav_links"><a class="nav_link_estilo" href="">Especialidades</a></li>
        <li class="nav_links"><a class="nav_link_estilo" href="">Historia</a></li>
      </ul>
      <!-- creamos la etiqueta a con una imagen dentro que nos llevara al home de la pagina web -->
      
      <a href="" class="nav-logo" id="logo">
        
      </a>
      <!-- creamos una lista de items que seran los items que se encargaran de iniciar y cerrar sesion y administarla pagina -->
      <ul class="nav_administracion" >
        <li class="nav_links"><a class="nav_link_estilo" style="font-size:22px;" href=""><i class="fa-brands fa-github"></i></a></li>
        <li class="nav_links"><a class="nav_link_estilo" href=""><i class="fa-solid fa-location-dot"></i> Ubicacion</a></li>
        <li class="nav_links nav_resposive_btn"><a class="nav_link_btn">Iniciar Sesion</a></li>
      </ul>
      <!-- El boton hamburguesa que solo aparecera cuando la pagina lo requiera -->
      <button class="nav_toggle">
        <i class="fa-solid fa-bars"></i>
      </button>
    </nav>
  </header>
  
