<header class="header_menu">
    <nav class="nav_cafe">
     
      
      <ul class="nav_menu" >
        <li class="nav_links"><a class="nav_link_estilo" href="">Menu</a></li>
        <li class="nav_links"><a class="nav_link_estilo" href="">Especialidades</a></li>
        <li class="nav_links"><a class="nav_link_estilo" href="">Ubicacion</a></li>
        <li class="nav_links"><a class="nav_link_estilo" href="">Noticias</a></li>
      </ul>
      <a href="" class="nav-logo" id="logo">
        <img src="../../../assets/imagenes/logo_cafe_menu.png" class="logo" alt="Logo">
      </a>
      
      <ul class="nav_administracion" >
        <li class="nav_links"><a class="nav_link_estilo" style="font-size:22px;" href=""><i class="fa-brands fa-github"></i></a></li>
        <li class="nav_links"><a class="nav_link_estilo" href=""><i class="fa-solid fa-location-dot"></i> Ubicacion</a></li>
        <li class="nav_links nav_resposive_btn"><a class="nav_link_btn">Iniciar Sesion</a></li>
      </ul>
      <button class="nav_toggle">
        <i class="fa-solid fa-bars"></i>
      </button>
    </nav>
  </header>
  
