/*En esta hoja aplicaremos los estilos que mostraran a menu*/
/* asignamos el tamño del header*/
/*El menu tine un efecto scrol que al scrolear en la pagina el fondo de trasparente cambia a tener un colo*/
@import '../../../styles.scss';
.header_menu{
    background: #0a0d1400;
    height: 70px;
    position: fixed;
    width: 100%;
    transition: .10s;
    z-index: 100;
}
.btn:hover{
    background-color: $color-terciario;
    color: $color-principal;
}
/*Se agrega la clase del efecto scroll*/
header.abajo{
    background: #0A0D14;
    height: 75px;
    padding: 5px 10px;
    transition: .5s;
 
    .nav-logo{
        background: url("../../../assets/imagenes/logo_naranja.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 150px;
        transition: .5s;
     }
 
     .nav_link_btn:hover{
        background: #0a0d1400;
        color: #D66B1D;
        border: 1px solid #D66B1D;
        transition: .5s;
    }
   
    /*El estilo que van a tener los items, su color de letra*/
    .nav_link_estilo {
        color: #D66B1D;
        text-transform: uppercase;
        text-decoration: none;
        transition: .5s;
       
       
        position: relative;
    }
   
    /*Vasvo a predefinir un efecto, que cuando nos coloquemos en uno de los items del menu, se despliegue un edecto con una linea debajo del texto*/
    .nav_link_estilo:after {    
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #D66B1D;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }
}
/* para ordenar los items del menu usaremos Flexboxs */
.nav_cafe{
    display: flex;
    justify-content: space-between;
 
}
/* Asignamos el tamaño del logo */
.nav-logo{
   background: url("../../../assets/imagenes/logo_blanco.png");
   background-repeat: no-repeat;
   background-size: contain;
   width: 150px;
 
}
/*Esta clase se va encargar de los items del menu*/
.nav_menu{
    /*desplegamos flex para que la lsita de items se expanda
    horizontalmente  */
    display: flex;
    margin: 0;
    list-style: none;
}
/*Esta clase se va encargar de los items de administracion, Iniciar Sesion, ubicacion, y redes*/
.nav_administracion{
     /*desplegamos flex para que la lsita de items se expanda
    horizontalmente  */
    display: flex;
    margin: 0;
    list-style: none;
}
 
/*En esta clase asignamos la fuente el margne y cenramos los items de la lista*/
.nav_links{
    font-size: 18px;
    margin: 0 10px;
    line-height: 70px;
    text-transform: uppercase;
   
    text-decoration: none;
}
 
 
/* los estilos de los botones del nav, su estilo y sus efectos
Este boton va a tener un efecto al pasar el puntero por el*/
.nav_link_btn{
    background: #D66B1D;
    color: #0A0D14;
    text-decoration: none;
    padding: 0 10px;
   
    mix-blend-mode: normal;
    border: 1px solid #000000;
    text-transform: initial;
    border-radius: 50px;
    border-radius:black 30%;
    margin: 24px;
    transition: .5s;
   
}
 
/*Efecto hover, al posicionarnos en el botón su fondo y letras van a cambiar*/
.nav_link_btn:hover{
    background: #0a0d1400;
    color: #D66B1D;
    border: 1px solid #D66B1D;
   
}
 
/*El estilo que van a tener los items, su color de letra*/
.nav_link_estilo {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
   
   
   
    position: relative;
}
 
/*Vasvo a predefinir un efecto, que cuando nos coloquemos en uno de los items del menu, se despliegue un edecto con una linea debajo del texto*/
.nav_link_estilo:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #ffffff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
/*Cuando nos colquemos encima del item se ectendera
la linea por el tecto*/
.nav_link_estilo:hover:after {
    width: 100%;
    left: 0;
}
 
/*El estilo del icono que se va a mostrar cuando se adapte a otro formato de pantalla mas chico*/
.nav_toggle{
 
    color: white;
    background: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    /*No lo desplegamos por a hora, porque tenemos que mostar los items*/
    display: none;
}
 
 
/*Empezamos a aplicar los estilos para la pagina Responsiva */
@media (max-width: 1076px){
 
    /*al ser responsivo el tamaño del header se achicara
    Y se e dara un color predefinido.
    Esto nos lleva a que el efecto scrol se utilizara para hacer sola una mini animacion*/
    .header_menu{
        background: #0a0d14;
        height: 55px;
       
   
    }
    //Seguimos usando efecto scroll comoe n la version no reposiva */
    header.abajo{
        background: #0A0D14;
        height: 55px;
        padding:0;
        padding-left: 15px;
        transition: .5s;
       #logo{
        margin-top: 5px;
       }
    }
 
    /*La clase hara que el menu al ser desplegable, se pueda hacer
    scrol en el si en necesario*/
    .nav_cafe{
       
        overflow-y: auto;
    }
 
    /*Le asiganmos un nuevo tamaño al logo del menu, cuando sea responsivo*/
    .logo{
        height: 55px;
        padding: 5px 0;
    }
    /*Esta clase va a:
    *Al ordenar los items del menu en columna
    *Al ser responsivo los items se van a mostrar desde arriba hacia abajo
    *caudno se muestren se van a mostrar los itemes con un fondo de color
    *al usar metodo toggle el munu no se va a mostrar hasta hacer click en el boton hamburguesa*/
    .nav_menu{
        flex-direction: column;
        margin: 0;
        list-style: none;
        background: #282c35;
        display: flex;
        position: fixed;
        //usamos top para que la lista se quede junta con el nav al ser columnas.
        top: 55px;
        width: 100%;
       text-align: center;
       height: calc(100% - 70px);
       padding: 0;
       //usamos left para no mostrar el nav_menu
       left: 100%;
       transition: .2s;
    }
 
    /*Esta clase va a:
    *Al ordenar los items del menu en columna
    *Al ser responsivo los items se van a mostrar desde arriba hacia abajo
    *caudno se muestren se van a mostrar los itemes con un fondo de color
    *al usar metodo toggle el munu no se va a mostrar hasta hacer click en el boton hamburguesa*/
    .nav_administracion{
       
        flex-direction: column;
        margin: 0;
        list-style: none;
        background: #282c35;
        padding: 0;
        position: fixed;
        //usamos top para que la lista se quede juntacnon el nav_menu al ser columnas.
        top: 415px;
        width: 100%;
        text-align: center;
        left: 100%;
        transition: .2s;
    }
    /* estilo para que el logo se quede en la esquina al ser resposive */
    #logo{
        /*al agregar order hcemos que el logo cambie de posicion con la lista menu,
        al hacer esto dejam,os el logo en la esquina*/
        order: -1;
    }
    //cambiamos el tamaño de la letra y le sacamos sus margenes
    .nav_links{
        font-size: 18px;
        margin: 0;
       
        line-height: 90px;
        text-transform: uppercase;
       
        text-decoration: none;
        transition: .5s;
    }
    /*Iniciamosv los estilos que se van a mostrar cuando los items sean responsivos*/
    //estilos pedredefinido al no ser seleccionados
    .nav_link_estilo {
        color: #D66B1D;
        text-transform: uppercase;
        text-decoration: none;
       
       
       
       
    }
 
    /*Estilo de los items al ser seleccionados:
    Al ser seleccionado el color del fondo cambiara y el de las letras tambein*/
    .nav_links:hover {
        background: #D66B1D;
       
        .nav_link_estilo{
            color: #282c35;
        }
    }
    //las lines del los itmes desaparecen al ser responsivas
    .nav_link_estilo:after {    
        display:none;
       
    }
    /*boton de iniciar sesion predeterminado al ser responsivo*/
    .nav_resposive_btn{
        background: #D66B1D;
        color: #0A0D14;
        text-decoration: none;
        padding: 0 ;
        width: 100%;
        mix-blend-mode: normal;
       
        text-transform: initial;
       
       
        margin:0;
        transition: .5s;
        .nav_link_btn{
            border: none;
            border-radius: none;
        }
    }
   
    //bonot al ser seleccionado
    .nav_resposive_btn:hover{
        background: #282c35;
        color: #D66B1D;
        .nav_link_btn{
            border: none;
            border-radius: none;
            background: #282c35;
            color: #D66B1D;
        }
       
    }
    /* estilo para que se muestre el menu hamburguesa */
    .nav_toggle{
       
        color: #D66B1D;
        background: none;
        font-size: 30px;
        padding: 0 20px;
        line-height: 55px;
       display: block;
        border: none;
       
    }
   /*Esta clase va a ser usada en el momento en el que hagmos click en el boton toggle/hamburguesa
   Lo que desplazara los items en columnas*/
    .nav_menu_visible{
        left: 0;
        transition: .2s;
    }

    .administracion{
        display: flex;
    }
}
