//importamos los colores de la pagina desde el style
@import '../../../styles.scss';

.imagen{
    //Modificamos el largo.
    height: 100vh;
    //Modificamos el ancho.
    width: 65%;
    //Hacemos énfasis en el centro  a la hora de redimensionarse.
    object-fit: cover;
    //Modificamos la opacidad.
    opacity: .8;
}


.informacion{
    //asignamos una posición.
    position: absolute;
    //modificamos el color de la letra.
    color: white;
    //asignamos un padding.
    padding-left: 10em;
    //Modificamos el largo.
    height: 100%;
    //Especificamos como el se colocan los elementos
    flex-direction: column;

    h1{
        //Modifica el tamaño de letra.
        font-size: 3em;
        //Modificamos el color de la letra
        color: $color-secundario;
    }

    h2{
        //Modifica el tamaño de letra.
        font-size: 6em;
        //Modificamos el color de la letra
        color: $color-terciario;
        //Modificamos el ancho.
        width: 50%;
    }

    p{
        //Modifica el tamaño de letra.
        font-size: 1.2em;
        //Modificamos el ancho.
        width: 30%;
    }
}


@media screen and (max-width: 1333px) {
    .informacion{
        //asignamos un padding.
        padding-left: 7em;

        h2{
            //Modifica el tamaño de letra.
            font-size: 3.9em;
            //Modificamos el ancho.
            width: 60%;
        }

        p{
            //Modificamos el ancho.
            width: 50%;
        }
    }
}

@media screen and (max-width:1067px) {
    .informacion{
        //asignamos un padding.
        padding-left: 6em;
    }
}  

@media screen and (max-width:1027px) {
    .imagen{
        //Modificamos el ancho.
        width: 100%;
    }
}

@media screen and (max-width:767px) {

    .informacion{
        text-align: center;
        //asignamos un padding.
        padding: 0 1em;
        //alineamos los ítems
        align-items: center;
        //Especificamos como el se colocan los elementos
        flex-direction: none;

        h1{
            //Modifica el tamaño de letra.
            font-size: 3em;
            //Modificamos el color de la letra
            color: $color-secundario;
        }
    
        h2{
            //Modifica el tamaño de letra.
            font-size: 4em;
            //Modificamos el color de la letra
            color: $color-terciario;
            //Modificamos el ancho.
            width: 100%;
        }
    
        p{
            //Modificamos el tamaño de letra.
            font-size: 1em;
            //Modificamos el ancho.
            width: 100%;
        }
    }
}

@media screen and (max-height:746px) {
    .informacion{
        h2{
            //Modifica el tamaño de letra.
            font-size: 4em;
        }
    }
} 