<!-- Creamos el contenedor -->
<div class="container-fluid">
    <!-- Creamos la fila, ajustacemos el contenido al centro y le asignamos una posicion relativa-->
    <div class="row position-relative d-flex justify-content-center align-items-center">
        <!-- Creamos la columna y ajustamos el contenido al centro -->
        <div class="col-12 d-flex justify-content-center">
            <img src="../../../assets/imagenes/sirviendo_cafe.jpg" alt="Persona sirviendo cafe" class="img-fluid imagen">
        </div>
        <!-- Creamos el contenedor que almacenara la informacion, ademas de ajustar el contenido al centro-->
        <div class="informacion d-flex justify-content-center">
            <h1 class="mb-4">New Event</h1>
            <h2 class="text-uppercase mb-4">turn up the heat on your next event.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam esse facilis voluptatum voluptate, laboriosam harum, nisi, excepturi similique distinctio placeat molestiae beatae repellat asperiores voluptatem!</p>
        </div>
    </div>
</div>