<app-portada></app-portada>
<div class="container-fluid">
    <div class="row position-relative d-flex justify-content-center align-items-center">
        <div class="col-12 d-flex justify-content-center">
            <img src="../../../assets/imagenes/sirviendo_cafe.jpg" alt="Persona haciendo cafe" class="img-fluid imagen">
        </div>
        <div class="informacion d-flex flex-column">
            <h1 class="mb-4">New Event</h1>
            <h2 class="text-uppercase mb-4">turn up the heat on your next event.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam esse facilis voluptatum voluptate, laboriosam harum, nisi, excepturi similique distinctio placeat molestiae beatae repellat asperiores voluptatem!</p>
        </div>
    </div>
</div>