<!-- creamos un contenedor utilizando Bootstrap -->
<div class="container-fluid">
    <!-- creamos la fila -->
    <div class="row">
        <!-- Creamos las columna  de tamaño 7 que contendra la imagen-->
        <div class="col-sm-12 col-md-7 contenedor_imagen">
            <img src="../../../assets/coffee1.jpg" alt="" class="img-fluid imagen-portada">
        </div>
        <!-- Creamos las columna de tamaño 5 que contendra la información-->
        <div class="col-sm-12 col-md-5 d-flex align-items-start justify-content-center flex-column informacion">
            <h1 class="mb-3">Craft Coffee</h1>
            <h2 class="text-uppercase">coffee makes</h2>
            <h2 class="text-uppercase mb-5">us serve</h2>
            <button class="btn mb-4">Leer más</button>
        </div>
    </div>
</div>