@import '../../../styles.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor_imagen{
    position: relative;

    .imagen-portada{
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
}

.contenedor_imagen::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to right, rgba(154, 150, 150, 0.2), rgb(10, 13, 20, 1)99%);
    opacity: 1;
}

.informacion{
    h1{
        font-size: 3em;
        color: $color-secundario;
    }

    h2{
        font-size: 6em;
        color: $color-terciario;
    }

    button{
        background-color: $color-secundario;
        color: $color-terciario;
        padding:.5em 1.2em;
    }
}

@media screen and (max-width: 1601px) {
    .informacion{
        h2{
            font-size: 5em;
        }
    }
}

@media screen and (max-width: 1333px) {
    .informacion{
        h2{
            font-size: 4em;
        }
    }
}

@media screen and (max-width:1067px) {

    .informacion{

        h1{
            font-size: 2em;
        }
        h2{
            font-size: 2.87em;
        }
    }
}

@media screen and (max-width:767px) {
    .contenedor_imagen::before{
        background: linear-gradient( rgba(154, 150, 150, 0.2), rgb(10, 13, 20, 1)99%);
    }

    .informacion{
        align-items: center !important;
    }
}


