@import '../../../styles.scss';/*importacion del archivo principal de estilos*/
.carta {
  transition: 500ms;
  align-items: center;
  background: #25272D;
  border-radius: 25px;
  max-height: 500px;
 .img__carta{
    transition: 500ms;
    left: 6.57%;
    right: 6.57%;
    top: 2.66%;
    bottom: 45.49%;
    border-radius: 25px;
    width: 80%;
 }
  .texto__carta {
    left: 6.57%;
    right: 6.57%;
    top: 54.51%;
    bottom: 31.15%;

    font-family: "Caudex";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    text-align: center;

    color: #ffffff;
  }
  .estrellas__carta{
    left: 23.71%;
    right: 23.45%;
    top: 72.13%;
    bottom: 22.34%;
  }
  .btn{
    background-color: $color-secundario;
    border-radius: 40px;
    width: 80%;
  }
}
.carta:hover{
  transition: 500ms;
  transform: translateY(20px);
  .img__carta{
    transition: 500ms;
    transform:translateY(-50px)
    scale(1.1)
  }
}
.carta .btn{
  color: #ffffff;
}
.carta .btn:hover{
  background-color: $color-terciario;
  color: $color-principal;
}