.carta {
  width: 300px;
  min-height: 488px;
  background: #11141B;
  border-radius: 25px;
 .img__carta{
    left: 6.57%;
    right: 6.57%;
    top: 2.66%;
    bottom: 45.49%;
    border-radius: 25px;
 }
  .texto__carta {
    left: 6.57%;
    right: 6.57%;
    top: 54.51%;
    bottom: 31.15%;

    font-family: "Caudex";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    text-align: center;

    color: #ffffff;
  }
  .estrellas__carta{
    left: 23.71%;
    right: 23.45%;
    top: 72.13%;
    bottom: 22.34%;
    color: #ffffff;
  }
}
