
<div class="container-fluid mt-4">
    <div class="row d-flex justify-content-center align-self-center historia2 align-items-center" *ngFor="let historia of historias">
        <div class="col-6 d-flex justify-content-center align-self-center">
            <div class="historia">
                <h3>Historia</h3>
                <p> {{historia.descripcion}}</p>
                    <button *ngIf="admin" pButton pRipple type="button" (click)="mostrarEditar(historia)" class="btn mb-4 boton-editar position-absolute" ><i class="pi pi-pencil p-1 " style="font-size: 1.5rem"></i>Editar  </button>
                  
                    <p-dialog header="Header" [(visible)]="modalVisible" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
                    [draggable]="false" [resizable]="false">
                    <!--Creamo el formulario y le agregaos el controlador-->
                    <form [formGroup]="nuevaHistoria">
                           
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Escribir Historia</label>
                            <textarea class="form-control  p-2" id="exampleFormControlTextarea1" rows="3" formControlName="descripcion"></textarea>
                        </div>  


                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Agregar Imagen</label>
                            <input type="file" class="form-control form-control-lg p-2" id="exampleFormControlInput1" accept=".jpg, .png, .gif" (change)="cargarImagen($event)">
                            
                        </div>

                        <img [src]="historia.imagenHistoria" alt="actualizarImagen">
                    </form>
                    
                    <ng-template pTemplate="footer">
                        <button icon="pi pi-check" (click)="cargarHistoria()"  class="btn boton-editar">actualizar</button>
                    </ng-template>
                    </p-dialog>
            </div> 
            <!-- <button pButton pRipple type="button" class="p-button-rounded p-button-warning"  ><i class="pi pi-pencil p-2 " style="font-size: 1.5rem"></i>Editar  </button> -->
        </div>
            <div class="col-6">
                <img [src]="historia.imagenHistoria" class="imagen" alt="">
                
            </div>
            <img src="../../../assets/imagenes/logo_año.png" class="logo_fecha" alt="">   
             
        </div>
       
</div>

