
<div class="container-fluid mt-4">
    <div class="row d-flex justify-content-center align-self-center historia2 align-items-center" *ngFor="let historias of historia">
        <div class="col-6 d-flex justify-content-center align-self-center">
            <div class="historia">
                <h3>Historia</h3>
                <p> {{historias.descripcion}}</p>
                    <button pButton pRipple type="button" (click)="mostrarEditar(historias)" class="p-button-rounded p-button-warning position-absolute ms-5"  ><i class="pi pi-pencil p-1 " style="font-size: 1.5rem"></i>Editar  </button>
                    <p-dialog header="Header" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
                    [draggable]="false" [resizable]="false">
                    <!--Creamo el formulario y le agregaos el controlador-->
                    <form [formGroup]="actualizarHistoria">
                           
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Escribir Historia</label>
                            <textarea class="form-control  p-2" id="exampleFormControlTextarea1" rows="3" formControlName="descripcion"></textarea>
                        </div>  


                        <!-- <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Agregar Imagen</label>
                            <input type="file" class="form-control form-control-lg p-2" id="exampleFormControlInput1"  placeholder="imagen" accept=".jpg, .png, .gif" (change)="cargarImagen($event)">
                            
                        </div>

                        <img [src]=imagenSeccion alt="actualizarImagen"> -->
                    </form>
                    
                    </p-dialog>
            </div> 
            <!-- <button pButton pRipple type="button" class="p-button-rounded p-button-warning"  ><i class="pi pi-pencil p-2 " style="font-size: 1.5rem"></i>Editar  </button> -->
        </div>
            <div class="col-6">
                <img src="../../../assets/imagenes/cafeteria_historia.jpg" class="imagen" alt="">
                
            </div>
            <img src="../../../assets/imagenes/logo_año.png" class="logo_fecha" alt="">   
             
        </div>
       
</div>

