<div class="container-fluid secion mt-4">
    <div class="row position-relative d-flex justify-content-start align-items-center resposivo">
        <div class="col-12 d-flex align-self-center">
            <img [src]=imagenSeccion class="imagen" alt="defd">
        </div>
        <div class="informacion align-self-center d-flex align-items-end flex-column mb-3 ">
            <div class="texto">
                <h5>{{tiuloSeccion}}</h5>
                <p>{{esloganSeccion}}</p>
            </div>
        </div>
    </div>
</div>



