<!-- Creamos el contenedor con una mergen top de 4 -->
<div class="container-fluid mt-4">
    <!-- Creamos la fila con un margen a los lados de 3 -->
    <div class="row mx-3">
        <!-- Creamos el titulo y la centramos -->
        <div class="titulo d-flex justify-content-center align-items-center mb-4">
            <h2>Galeria</h2>
        </div>
        <!-- Creamos la columna-->
        <div class="col-md-6 col-sm-12">
            <img src="../../../assets/galeria/galeria6.jpg" class="imagen-1" alt="">
             <!-- Creamos la fila-->
            <div class="row">
                <!-- Creamos la columna-->
                <div class="col-md-6 col-sm-12">
                    <img src="../../../assets/galeria/galeria2.jpg" class="imagen-2" alt="">
                </div>
                <!-- Creamos la columna-->
                <div class="col-md-6 col-sm-12">
                    <img src="../../../assets/galeria/galeria1.jpg" class="imagen-2" alt="">
                </div>
            </div>
        </div>
        <!-- Creamos la columna-->
        <div class="col-md-6 col-sm-12">
            <!-- Creamos la fila-->
            <div class="row">
                <!-- Creamos la columna-->
                <div class="col-md-6 col-sm-12">
                    <img src="../../../assets/galeria/galeria4.jpg" class="imagen-3" alt="">
                </div>
                <!-- Creamos la columna-->
                <div class="col-md-6 col-sm-12">
                    <img src="../../../assets/galeria/galeria5.jpg" class="imagen-3" alt="">
                </div>
                <!-- Creamos la columna-->
                <div class="col-md-12 col-sm-12">
                    <img src="../../../assets/galeria/galeria3.jpg" class="imagen-1" alt="">
                </div>
            </div>
        </div>
    </div>
</div>