<div class="container-fluid mt-4">
    <div class="row">
        <div class="titulo d-flex justify-content-center align-items-center mb-4">
            <h2>Galeria</h2>
        </div>
        <div class="col-md-6 col-sm-12">
            <img src="../../../assets/imagenes/sirviendo_cafe.jpg" class="imagen-1" alt="">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <img src="../../../assets/imagenes/moliendo_cafe.jpg" class="imagen-2" alt="">
                </div>
                <div class="col-md-6 col-sm-12">
                    <img src="../../../assets/imagenes/moliendo_cafe.jpg" class="imagen-2" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <img src="../../../assets/imagenes/moliendo_cafe.jpg" class="imagen-3" alt="">
                </div>
                <div class="col-md-6 col-sm-12">
                    <img src="../../../assets/imagenes/moliendo_cafe.jpg" class="imagen-3" alt="">
                </div>
                <div class="col-md-12 col-sm-12">
                    <img src="../../../assets/imagenes/sirviendo_cafe.jpg" class="imagen-1" alt="">
                </div>
            </div>
        </div>
    </div>
</div>