@import '../../../styles.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    object-fit: cover;
    padding: 3px;
}

.container-fluid{
    .row{
        .titulo{
            h2{
                color: $color-terciario;
                font-weight: 500;
                font-size: 3em;
            }
        }

        .col-md-6{
            
            .imagen-1{
                height: 40em;
            }

            .row{

                .imagen-2{
                    height: 20em;
                }

                .imagen-3{
                    height: 20em;
                } 

                .imagen-1{
                    height: 40em;
                }
                
            }
        }
    }
}

@media screen and (max-width:767px) {
    .container-fluid{
        .row{
            .col-md-6{

                .imagen-1{
                    height: 30em;
                }
                

                .row{

                    .imagen-2{
                        height: 30em;
                    }
            
                    .imagen-3{
                        display: none;
                    } 
            
                    .imagen-1{
                        height: 30em;
                    } 
                   
                }
            }
        }
    }
}