@import "../../../styles.scss";
.contenedor__evento{
    padding-left: 8%;
    padding-right: 8%;
}
.titulo__seccion{
    //Modifica el tamaño de letra.
    font-size: 3em;
    //Modificamos el color de la letra
    color: $color-secundario;
}
.titulo{
    font-size: 6em;
}
.img__evento{
    object-fit: cover;
    max-height:80vh;
    border-radius: 20px;
}
.texto__evento {
    display: flex;
    flex-direction: column;
    color:$color-terciario ;
}
@media screen and (max-width: 1366px) {
    .titulo{
        font-size: 3.9em;
    }
}
@media screen and (max-width: 990px) {
    .img__evento{
        height: 40vh;
    }
}
@media screen and (max-width:767px) {
    .titulo{
        font-size: 4em ;
    }
}

@media screen and (max-width: 576px) {
    .img__evento{
        height: 40vh;
        width: 100%;
        margin: 0.5em 0 0.5em 0;
    }
}
