<div *ngFor="let evento of eventos" class="container-fluid contenedor__evento my-5">
    <div class="row">
        <div class="col-12 col-md-6 texto__evento d-flex justify-content-center pb-4">
            <!--Titulo de la seccion-->
            <h1 class="titulo__seccion">{{evento.tituloSeccion}}</h1>
            <!--Titulo del evento-->
            <h1 class="titulo text-uppercase">{{evento.titulo}}</h1>
            <!--Detalles del evento-->
            <p class="h5 mt-4 pe-lg-5 me-lg-5">{{evento.descripcion}}</p>
        </div>
        <div class="col-12 col-md-6">
            <!--Contenedor de las imagenes del evento-->
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <img class=" img-fluid img__evento" src="{{evento.img1}}" alt="">
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <img class="img-fluid img__evento" src="{{evento.img2}}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>