<div class="container-fluid contenedor__evento">
    <div class="row">
        <div class="col-6 texto__evento">
            <h1 class="titulo ms-auto me-auto">SHAKE IT TODAY</h1>
            <p class="h5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus esse modi rem fugiat, voluptatibus dolor pariatur quam distinctio voluptatum dolore eos unde blanditiis recusandae quis maxime, qui debitis quia incidunt!</p>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-6">
                    <img class=" img-fluid img__evento" src="../../../assets/imagenes/imagen-evento-2.jpg" alt="">
                </div>
                <div class="col-6">
                    <img class="img-fluid img__evento" src="../../../assets/imagenes/imagen-evento-1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>