/* You can add global styles to this file, and also import other style files */
$color-principal:#0a0d14;
$color-secundario:#d66b1d;
$color-terciario:#f7f7f7;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: $color-principal;
}