/* You can add global styles to this file, and also import other style files */
$color-principal:#0a0d14;
$color-secundario:#d66b1d;
$color-terciario:#f7f7f7;


*{
    box-sizing: border-box;
}

body{
    background: $color-principal;
}

.btn{
    //Definicion de colores y forma del boton
    color: $color-terciario;
    background-color: $color-secundario;
    border-radius: 40px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .carta .btn:hover{
    background-color: $color-terciario;
    color: $color-principal;
  }